<h3> <%=@user.name%> </h3>


<form action="/users/<%=@user.id%>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  <input type="hidden" name="_method" value="patch">

  <input type="text" id="Email" name="user[email]" value="<%=@user.email%>">

  <input type="text" id="Name" name="user[name]" value="<%=@user.name%>">

  <button type="submit" value="Update">Update</button>

</form>

<form action="/users/<%= @user.id %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  <input type="hidden" name="_method" value="delete">

  <button type="submit" value="Delete Account">Delete Account</button>

</form>
